body {
  padding: 0;
  margin: 0;
  background: #ffff;
}
/*--- navigation bar ---*/


.navbar-toggler:hover{
  background-color:#A9A9A9 ;
}
.card-header{
	 background-color:#B0C4DE;
}
.rounded-circle{
	height: 300px;
	width: 300px;
}
.card-body{
	background-color:#DCDCDC ;
}
.carousel-slide{
 background-color:#A9A9A9 ;
}
.container .link{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #20B2AA;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .link:hover {
  background-color: #B0C4DE;
}

.form4 {
	position: center;
   
    background-size: cover
}

.top {
    padding-top: 100px;
    padding-bottom: 100px
}

.form-bg {
    background: rgba(68, 68, 65, 0.77);
    padding: 20px
}

.form {
    background-color: white !important;
    padding: 20px
}

.form-group {
    margin-bottom: 20px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

button.btn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px
}

.btn-blue {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4
}
.last-line{
	position: center;
	background-color: rgba(22, 163, 151, 0.77);
}
.bg1{
	background-color:#DCDCDC ;

}
.pages{
    background-color:#b9cf95;
}
